* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: sans-serif;
  background-color: black;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: background-color 200ms linear;
}

#prompt {
  top: 0;
  left: 0;
  position: absolute;
}

#prompt.fullscreen {
  width: 100%;
  height: 100%;
}

.register {
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.register button,
.register input {
  width: 120px;
  padding: 10px;
  font-size: 20px;
}


.reset,
.pulse {
  top: 0;
  left: -38px;
  width: 38px;
  height: 76px;
  color: #aaaaaa;
  display: block;
  cursor: pointer;
  padding-top: 28px;
  padding-left: 7px;
  position: absolute;
  text-decoration: none;
  background-color: #999999;
  text-transform: uppercase;
  border-radius: 0 76px 76px 0;
  transition: left 200ms linear;
}

.controls .reset,
.pulse.on,
.controls .pulse {
  left: 0;
}

.pulse {
  top: 76px;
}
